---
title: Project
permalink: /sp2021/project.html
group: "sp2021"
order: 3
---
<!DOCTYPE html>
<html>
{% include aa203_head.html %}
<body id="page-top" class="index">
  {% include aa203_navbar.html group="sp2021" %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p style="color:red; font-weight:bold; font-size:1.5em; margin-top:40px;">Note: This is the website for a previous version of the class. You can find the current site <a href="https://stanfordasl.github.io/aa203/">here</a>.</p>
          <h1>Course Project</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>The project guidelines are available <a href="pdfs/Project_guidelines.pdf">here</a>.
          </p>

        </div>
      </div>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
