---
title: Home
permalink: /sp2324/
group: "sp2324"
order: 1
---
<!DOCTYPE html>
<html>
{% include aa203_head.html %}

<body id="page-top" class="index">
  {% include aa203_navbar.html group="sp2324" %}
  <header>
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>AA 203: Optimal and Learning-Based Control</h1>
          <h4>Spring 2024</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p>Optimal control solution techniques for systems with known and unknown dynamics. Dynamic programming,
            Hamilton-Jacobi reachability, and direct and indirect methods for trajectory optimization. Introduction to
            model predictive control. Adaptive control, model-based and model-free reinforcement learning, and
            connections between modern reinforcement learning and fundamental optimal control ideas.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <h3>Instructors</h3>
          <table class="aa203_people">
            <tr>
              <th>
                <a href="https://stanfordasl.github.io/people/prof-marco-pavone/"><img class="aa203_headshot"
                    src="https://stanfordasl.github.io/img/people/Pavone.jpg"></a>
                <a href="https://stanfordasl.github.io/people/prof-marco-pavone/">Marco Pavone</a>
              </th>
              <th>
                <a href="https://stanfordasl.github.io/people/daniele-gammelli/"><img class="aa203_headshot"
                    src="https://stanfordasl.github.io/img/people/DanieleGammelli.jpg"></a>
                <a href="https://stanfordasl.github.io/people/daniele-gammelli/">Daniele Gammelli</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <h3>Course Assistants</h3>
          <table class="aa203_people">
            <tr>
              <th>
                <a href="https://stanfordasl.github.io/people/dan-morton/"><img class="aa203_headshot"
                    src="https://stanfordasl.github.io/img/people/dmorton.jpg"></a>
                <a href="https://stanfordasl.github.io/people/dan-morton/">Daniel Morton</a>
              </th>
              <th>
                <a href="https://stanfordasl.github.io/people/matt-foutter/"><img class="aa203_headshot"
                    src="https://stanfordasl.github.io/img/people/mfoutter.jpg"></a>
                <a href="https://stanfordasl.github.io/people/matt-foutter/">Matt Foutter</a>
              </th>
            </tr>
          </table>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Meeting Times</h3>
          <p>Lectures are held on Mondays and Wednesdays from 1:30pm to 2:50pm in <a
              href="http://campus-map.stanford.edu/?srch=Huang+Engineering+Center+18">Huang Engineering Center 18</a>.
          </p>
          <p>Lecture recordings will be available on <a href="https://canvas.stanford.edu/courses/188274">Canvas</a>.
          </p>
          <p>Recitations are held on Fridays from 9:00am to 10:30am for the first four weeks of the quarter. Recitations
            are hybrid sessions, held both in Durand 251 and on
            Zoom (link on <a href="https://canvas.stanford.edu/courses/188274">Canvas</a>). Each recitation will be
            recorded and available offline on <a href="https://canvas.stanford.edu/courses/188274">Canvas</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Office Hours</h3>
          <p>Office hours will begin in the second week of the quarter</p>
          <p>Marco Pavone's office hours are on Tuesdays 1:00pm to 2:00pm in Durand 261 and by appointment.</p>
          <p>Daniele Gammelli's office hours are on Thursdays 4:00pm to 5:00pm in Durand 217 (project discussion).</p>
          <p>Daniel Morton's office hours are on Fridays 3:00pm to 5:00pm in Durand 217.</p>
          <p>Matt Foutter's hybrid office hours are on Mondays 3:00pm to 4:00pm and Thursdays 5:00pm to 6:00pm in Durand
            251.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Syllabus</h3>
          <p>The class syllabus can be found <a href="pdfs/AA203_Syllabus_2024.pdf">here</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Schedule</h3>
          <!-- <p>Subject to change. An evolving set of partial course notes is available <a href="https://github.com/StanfordASL/AA203-Notes">here</a>. Corresponding lecture slides will be uploaded before each class period.</p> -->
          <p>Subject to change.</p>
          <style type="text/css">
            .tg {
              border-collapse: collapse;
              border-spacing: 0;
            }

            .tg td {
              font-family: Arial, sans-serif;
              font-size: 14px;
              padding: 10px 5px;
              border-style: solid;
              border-width: 1px;
              overflow: hidden;
              word-break: normal;
              border-color: black;
            }

            .tg th {
              font-family: Arial, sans-serif;
              font-size: 14px;
              font-weight: normal;
              padding: 10px 5px;
              border-style: solid;
              border-width: 1px;
              overflow: hidden;
              word-break: normal;
              border-color: black;
            }

            .tg .tg-vnl4 {
              font-family: "Trebuchet MS", Helvetica, sans-serif !important;
              ;
              border-color: inherit;
              text-align: left;
              vertical-align: top
            }

            .tg .tg-2g2i {
              font-family: "Trebuchet MS", Helvetica, sans-serif !important;
              ;
              border-color: inherit;
              text-align: center;
              vertical-align: top
            }
          </style>
          <table class="tg">
            <tr>
              <th class="tg-2g2i">Week</th>
              <th class="tg-vnl4">Topic</th>
              <th class="tg-vnl4">Lecture Slides</th>
            </tr>
            <tr>
              <td class="tg-2g2i">
                1
              </td>
              <td class="tg-vnl4">
                Course overview; intro to nonlinear optimization
                <br>
                Optimization theory
                <br>
                Recitation: Automatic differentiation with JAX
                <br>
                <span style="font-style:italic">Monday: HW0 (ungraded) out</span>
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_1.pdf">Lecture 1</a>
                <!-- ; <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-1">Code</a> -->
                <br>
                <a href="pdfs/lecture/lecture_2.pdf">Lecture 2</a>
                <!-- ; <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-2">Code</a> -->
                <br>
                <a href="pdfs/lecture/Autodiff_with_JAX.pdf">Recitation 1</a>
                ; <a
                  href="https://colab.research.google.com/github/StanfordASL/AA203-Examples/blob/master/Autodiff%20with%20JAX.ipynb#scrollTo=cyeNgAHUyx9_">Code</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                2
              </td>
              <td class="tg-vnl4">
                Calculus of variations
                <br>
                Indirect methods for optimal control
                <br>
                Recitation: Convex optimization with CVXPY
                <br>
                <span style="font-style:italic">Monday: HW1 released</span>
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_3.pdf">Lecture 3</a>
                <!-- ; <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-3">Code</a> -->
                <br>
                <a href="pdfs/lecture/lecture_4.pdf">Lecture 4</a>
                <!-- ; <a -->
                <!-- href="https://colab.research.google.com/github/StanfordASL/AA203-Examples/blob/master/Zermelo's%20Problem.ipynb">Code</a> -->
                <br>
                <a href='pdfs/lecture/ConvexOptimization.pdf'>Recitation 2</a>
                ; <a href="https://github.com/danielpmorton/cvxpy_examples">Code</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                3
              </td>
              <td class="tg-vnl4">
                Pontryagin's maximum principle and computational methods
                <br>
                Direct methods
                <br>
                Recitation: Regression models
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_5.pdf">Lecture 5</a>
                ; <a
                  href="https://github.com/StanfordASL/AA203-Examples/tree/master/Free Final Time Problem.ipynb">Code</a>
                <br>
                <a href="pdfs/lecture/lecture_6.pdf">Lecture 6</a>
                ; <a href="https://github.com/StanfordASL/AA203-Examples/blob/master/Code_for_lecture_6.ipynb">Code</a>
                <br>
                <a href='pdfs/lecture/regression_rec3.pdf'>Recitation 3</a>
                <!-- <a href='pdfs/lecture/regression_rec3.pdf'>Recitation 3</a> -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                4
              </td>
              <td class="tg-vnl4">
                Dynamic programming, discrete LQR
                <br>
                Nonlinear LQR for tracking and trajectory generation
                <br>
                Recitation: Training neural networks with JAX
                <br>
                <span style="font-style:italic">Monday: HW1 due, HW2 released</span>
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_7.pdf">Lecture 7</a>
                <!-- ; <a -->
                <!-- href="https://colab.research.google.com/github/StanfordASL/AA203-Examples/blob/master/LQR%20Variants.ipynb">Code</a> -->
                <br>
                <a href="pdfs/lecture/lecture_8.pdf">Lecture 8</a>
                ; <a href="https://github.com/StanfordASL/AA203-Examples/blob/master/Code_for_lecture_8.ipynb">Code</a>
                <br>
                <a
                  href="https://github.com/StanfordASL/AA203-Examples/blob/master/Training%20Neural%20Networks%20with%20JAX.ipynb">Recitation
                  4</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                5
              </td>
              <td class="tg-vnl4">
                Stochastic DP, value iteration, policy iteration
                <br>
                Introduction to RL, learning settings
                <br><span style="font-style:italic">Friday: Project proposal due</span>
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_9.pdf">Lecture 9</a>
                <!-- ; <a -->
                <!-- href="https://colab.research.google.com/github/StanfordASL/AA203-Examples/blob/master/Model%20Reference%20Adaptive%20Control.ipynb">Code</a> -->
                <br>
                <a href="pdfs/lecture/lecture_10.pdf">Lecture 10</a>
                <!-- ; ; <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-10">Code</a> -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                6
              </td>
              <td class="tg-vnl4">
                HJB, HJI, and reachability analysis
                <br>
                MPC I: Introduction
                <br>
                <span style="font-style:italic">Monday: HW2 due</span>
                <br>
                <span style="font-style:italic">Tuesday: HW3 released</span>
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_11.pdf">Lecture 11</a>
                ; <a href="https://github.com/StanfordASL/AA203-Examples/blob/master/Code_for_lecture_11.ipynb">Code</a>
                <br>
                <a href="pdfs/lecture/lecture_12.pdf">Lecture 12</a>
                <!-- ; <a -->
                <!-- href="https://colab.research.google.com/github/StanfordASL/AA203-Examples/blob/master/Heuristic-based%20Nonlinear%20MPC%20for%20%22Asteroids%22.ipynb">Code</a> -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                7
              </td>
              <td class="tg-vnl4">
                MPC II: Feasibility and stability
                <br>
                MPC III: Robustness
                <br>
                <span style="font-style:italic">Friday: Project midterm report due</span>
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_13.pdf">Lecture 13</a>
                <br>
                <a href="pdfs/lecture/lecture_14.pdf">Lecture 14</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                8
              </td>
              <td class="tg-vnl4">
                Intro to learning, sys ID, adaptive control
                <br>
                RL I: Model-free RL - Value-based methods
                <br>
                <span style="font-style:italic">Monday: HW4 released</span>
                <br>
                <span style="font-style:italic">Tuesday: HW3 due</span>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_15.pdf">Lecture 15</a>
                <!-- ; <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-15">Code</a> -->
                <br>
                <a href="pdfs/lecture/lecture_16.pdf">Lecture 16</a>
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                9
              </td>
              <td class="tg-vnl4">
                <span style="font-style:italic">No lecture (Memorial Day)</span>
                <br>
                RL II: Model-free RL - Policy optimization
              </td>
              <td class="tg-vnl4">
                <!-- <a href="pdfs/lecture/lecture_17.pdf">Lecture 17</a> -->
                <br>
                <a href="pdfs/lecture/lecture_17.pdf">Lecture 17</a>
                <!-- ; <a href="https://github.com/StanfordASL/AA203-Examples/tree/master/Lecture-18">Code</a> -->
              </td>
            </tr>
            <tr>
              <td class="tg-2g2i">
                10
              </td>
              <td class="tg-vnl4">
                RL III: Model-based RL
                <br>
                RL IV: Model-based policy optimization and Conclusions
                <br>
                <span style="font-style:italic">Monday: HW4 due</span>
                <br>
                <span style="font-style:italic">Wednesday: Project video presentation and final report due</span>
              </td>
              <td class="tg-vnl4">
                <a href="pdfs/lecture/lecture_18.pdf">Lecture 18</a>
                <br>
                <a href="pdfs/lecture/lecture_19a.pdf">Lecture 19</a>
                <!-- <br> -->
                <!-- <a href="pdfs/lecture/lecture_19b.pdf">Course summary (reinforcement learning)</a> -->
              </td>
            </tr>

          </table>

        </div>
      </div>
      <p>Follow <a href="{{site.baseurl}}/sp2223/">this link</a> to access the course website for the previous edition
        of Optimal and Learning-Based Control.</p>
    </div>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>

</html>
